@import "../../styles/ColorSheet.css";

.rec-package-container{
    width: 85%;
    height: 1300px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;

    & .title{

    }
}