@import "../../styles/ColorSheet.css";

.package-item-container {
    width: 75%;
    height: 240px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 22px;
    border-radius: 10px;
    display: flex;
    position: relative;
    z-index: 1;
    transition: all ease 0.3s;

    & .title-bg {
        position: absolute;
        height: 40px;
        width: 63%;
        border-radius: 10px 0px 0px 0px;
        background: var(--orange-yellow-for-bg);
        z-index: -1;
    }

    & .detail-box {
        height: 100%;
        width: 63%;
        padding: 0px 40px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .title {
            display: flex;
            align-items: center;
            height: 40px;

            & h3 {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 1;
                line-height: 1.5;
                font-size: 1rem;
            }
        }

        & .description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            font-size: 0.85rem;
            color: rgb(78, 78, 78);
        }

        & .duration-province-box {
            display: flex;
            font-size: 0.85rem;

            & .sub-box {
                display: flex;
                align-items: center;
                padding: 5px 50px 15px 0px;

                & .icon-box {
                    width: 30px;
                    height: 30px;
                    margin-right: 12px;

                    & img {
                        width: 100%;
                    }
                }
            }
        }

        & .price-tourDetail-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .sub-box {
                & .title {
                    color: var(--blue);
                    font-weight: 600;
                    height: auto;
                }

                & .price {
                    font-weight: 700;
                    font-size: 1.1rem;
                    color: var(--orange);
                }

                & .btn-detail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--lightblue);
                    width: 100px;
                    height: 30px;
                    background-color: var(--white);
                    font-size: 0.85rem;
                    font-weight: 600;
                    color: var(--blue);
                    cursor: pointer;
                    transition: all ease 0.3s;
                }

                & .btn-detail:hover{
                    background-color: var(--lightblue);
                    color: var(--white);
                    border-radius: 5px;
                }
            }
        }
    }

    & .image-box {
        height: 100%;
        width: 37%;
        border-radius: 0px 10px 10px 0px;
        overflow: hidden;


        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* .package-item-container:hover{
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.7);
} */