@import "../../styles/ColorSheet.css";

.tour-pavkage-page {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    & section {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        & .pic-slice {
            width: 75%;
            height: 475px;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.4s ease-in-out;
            }

            & .fade-in {
                opacity: 1;
            }

            & .fade-out {
                opacity: 0;
            }
        }

        & .subsection {
            width: 75%;
            height: 220px;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            & .show-mini-promotion {
                width: 30%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }

            & .search-package-box {
                width: 67%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding: 25px 55px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .title {
                    font-size: 24px;
                    color: var(--blue);

                }

                & .search-box {
                    border: 1px solid #D9D9D9;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    padding: 0px 10px;
                    margin: 5px 0px;
                    display: flex;
                    align-items: center;

                    & .img-box {
                        width: 50px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & img {
                            height: 70%;
                            opacity: 0.6;
                        }
                    }

                    & input {
                        height: 100%;
                        width: 100%;
                        margin-left: 5px;
                        border: 0px;
                        font-size: 16px;
                    }

                    & input:focus-visible {
                        outline: none;
                    }

                }

                & .search-option-box {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    & .option {
                        display: flex;
                        flex-direction: column;

                        & span {
                            margin-bottom: 5px;
                            font-weight: 500;
                        }

                        & select {
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid #D9D9D9;
                            text-align: center;
                            font-size: 16px;
                            color: rgb(94, 94, 94);
                        }

                        & .input-box {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & input {
                                width: 45%;
                                height: 40px;
                                border-radius: 5px;
                                border: 1px solid #D9D9D9;
                                text-align: center;
                                font-size: 16px;
                                color: rgb(94, 94, 94);
                            }
                        }
                    }

                    & .option1-box,
                    .option4-box {
                        width: 16%;
                    }

                    & .option2-box {
                        width: 36%;
                    }

                    & .option3-box {
                        width: 25%;
                    }
                }
            }
        }


    }
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    padding: 5px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: button;
}

input[type="number"]::-webkit-inner-spin-button {
    height: 30px;
    width: 30px;
}