@import "../../styles/ColorSheet.css";

.show-promotion-container{
    width: 85%;
    height: 420px;
    margin-top: 40px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}