@import "../../styles/ColorSheet.css";

.show-promotion-container{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card-title{
        width: 100%;
        height: 65px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10%;

        & .title{
            display: flex;
            align-items: center;
            gap: 14px;
            font-weight: 600;

            & .icon-box{
                width: 30px;
                height: 30px;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        & .more-promotion-btn{
            border: 1px solid var(--btn-color-1);
            padding: 5px 12px;
            color: var(--btn-color-1);
        }
    }
}